

    
      <h4 class="a-1" style="margin-top: 30px; margin-left: 20px;">ABOUT</h4>
      <div class="a1">
      <p>Bless your walls is a online painting shopping website which is created in 2020.
      This site offers you a variety of handmade paintings in different styles and patterns.
      So join us being our member to bless your walls and get updated by on new offers and discount. </p>
      <link href='https://fonts.googleapis.com/css?family=Cedarville Cursive' rel='stylesheet'>
    </div>
  
   