
.btn{
    background-color: beige;
}
.b1{
  background-color:bisque;
  border-color: black;
  color: black;
  text-align: right;
}
.b2{
  background-color:bisque;
  border-color:black;
  color: black;
}
 .my-2{
   backdrop-filter: blur(5px);
 }
  
  
 
  .d-flex{
    margin-left:20px;
    margin-right:100px;
    max-width:200px;
  
    margin-top:40px ;
    border-radius: 2px;
    backdrop-filter: drop-shadow(50px);
    

  }
  .d-flex{
    padding-left:30px;
    padding-right:30px;
    

  }
  .p-2{
color: black
  }

  .p-3{
    color: black
  }

.p-4{
  color:black
}
  .b1 {
    background-color: palevioletred;
    border: none;
    color: white;
    margin-bottom: 40px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .b1:hover {opacity: 1}

  .b2 {
    background-color:blue;
    border: none;
    color: white;
    
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .b2:hover {opacity: 2}




  .b3 {
    background-color:brown;
    border: none;
    color: white;
    
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .b3:hover {opacity: 2}




.t{
  text-decoration: underline;
}

.p-2{
  text-decoration: underline;
}


  .my{
    
      width:65% !important;
      margin:0px auto;
     
  }
  
  .m{
    scroll-behavior: smooth;
    background-color:cadetblue;
    color: black;
  }