
<p>
<a class="b1   btn btn-outline-primary float-right " [routerLink]="['/register']">Sign up</a>
<a class="b2   btn btn-outline-primary float-right " [routerLink]="['/login']">Log in</a>
<a class="b3   btn btn-outline-primary float-right " [routerLink]="['/admin']">Admin Login</a>
</p>

   <div>
  
      <a class="p-2 float-right " [routerLink]="['/shop']"><strong> HOME</strong> </a> 
      <marquee class="m">Register with us for latest updates and deals</marquee>
      <p>
      
       <strong class="t">For Customized Paintings & Enquiry Contact Us Through-</strong>
      <a class="p-3  " > <i class="fas fa-phone"> </i> 91-8461927219 </a>
      <a class="p-4 " ><i class="fas fa-envelope-square"> </i> shivangimishra400@gmail.com </a>
    </p>
    
    </div>

